form {
  margin: 30px auto;
}

input {
  margin: auto;
}

.form-control {
  display: block;
  height: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
}
